<%- include ('partials/header.ejs') %>
<body class="principal">
    <%- include ('partials/navbar.ejs') %>
    <div class="container p-4">
        <div class="card card-style">
            <div class="card-header">
                <h3 class="titulo">Cadastro de Produtos do Mercado</h3>
            </div>
            <hr>
            <div class="card-body">
                <form method="post" action="/submitProdutosMercado" enctype ="multipart/form-data" id="formulario">
                   <strong>Marque os produtos do mercado</strong>
                    <%produtos.forEach((p,i)=>{%>
                        <label for=""><%=p.nome%></label>
                        <input type="checkbox" name="produto_<%=i%>" id="<%=p.id%>">
                    <%})%>
                    <input type="text" name="produtosMarcados" id="produtosMarcados">
               
                    <button type="submit" class="btn btn-success">&crarr; Cadastrar</button>
                    <a class="btn btn-success" href="/">&larr; Voltar</a>
                </form>
            </div>
        </div>
    </div>
    <script>
        function atualizarProdutosMarcados() {
            const chkbxs = document.querySelectorAll("input[name^=produto_]")
            const arry_temp = Array()
            chkbxs.forEach((i)=>{
                if (i.checked) arry_temp.push(i.id);
            })
            return arry_temp.toString() 
        }
        const chkbxs = document.querySelectorAll("input[name^=produto_]")
        chkbxs.forEach((i)=>{
            i.addEventListener("change", (e)=>{
                atualizarProdutosMarcados()
            })
        })
        document.getElementById("formulario").addEventListener("submit",(e)=>{
            document.getElementById("produtosMarcados").value = atualizarProdutosMarcados()
        })
    </script>
</body>
<%- include ('partials/footer.ejs') %>